<template>
  <div>
    <button v-on:click="update">update </button>
    <ul>
        <Story  v-for="story in results" :key="story.objectID" :story="story"></Story>
        <li class="loading" v-if="loading"><img src="loading.gif"></li>
    </ul>
</div>
</template>

<script>
import Story from "./Story.vue";

export default {
    data() {
        return {
            results: [],
            loading: 0,
            page : 0,
        }
    },

    components: {
        Story
    },

    created() {
        this.fetchData();
    },

    mounted() {
        window.addEventListener("scroll",e => { this.checkscroll(e); });
        this._body = document.getElementsByTagName('body').item(0);
    },

    updated() {
        this.$nextTick(() => {
            // Code that will run only after the
            // entire view has been re-rendered
            this.checkscroll();
            if (this.loading == 2) this.loading = 0;
        })
    },

    methods: {
        checkscroll(e) {
            if (this.loading > 0) return;
            // console.log(window.innerHeight , (this.$el.offsetTop - window.scrollY) + this.$el.offsetHeight);
            if (window.innerHeight > (this.$el.offsetTop - window.scrollY) + this.$el.offsetHeight) this.loadNextPage();
        },

        update(e) {
            this.loading = 0;
            this.page = 0;
            this.results = [];
            this.fetchData();
        },

        loadNextPage() {
            this.page = this.page + 1;
            this.fetchData();
        },

        fetchData() {
            if (this.loading > 0 ) return;
            // console.log(this.loading, 'http://hn.algolia.com/api/v1/search_by_date?query="is down"&restrictSearchableAttributes=title&page='+this.page)

            this.loading = 1;
            fetch('http://hn.algolia.com/api/v1/search_by_date?query="is down"&restrictSearchableAttributes=title&page='+this.page)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    var filteredhits = data.hits.filter(obj => {
                        if (obj.title.match(/is down(\.| \[| \(|$)/i)) return obj;
                    })
                    // console.log(filteredhits);
                    this.results = this.results.concat(filteredhits);
                    // console.log(this.results);
                    this.loading = 2
                })
                .catch(e => {
                    console.log(e);
                    this.loading = 3;
                });
        },

        stop() { this.loading = 3; }

    }
}
</script>

<style>

</style>
