<template>
<li>
    <h3>{{ story.title }}</h3>
    <a :href="story.url">{{ story.url }}</a><br>
    <small><timeago :since="story.created_at" :auto-update="60"></timeago></small>
</li>  
</template>

<script>
export default {
     props: ['story'],
     components: {
     }
}
</script>

<style>
    
</style>
