<template>
<body class="container">
    <div class="header">
        <img src="hnisdown.png" class="title" alt="HNISDOWN">
    </div>
    <list />
</body>
</template>

<script>
import List from "./components/List.vue";

export default {
    components: {
        List
    },
}
</script>


     
